<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript">

        if (localStorage.getItem("session_id") == null) {

            window.location.replace("/");
        }

    </script>
    <!-- Title -->
    <title>Arbolado 2019 | Areas asignadas</title>
    <!-- Main Icon -->
    <link rel="icon" type="text/css" href="../resource/image/main-icon.png">
    <!-- Apple Icon -->
    <link rel="apple-touch-icon" type="text/css" href="../resource/image/main-icon.png">
    <!-- Meta information and responsive scale -->
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, shrink-to-fit=no" />
</head>
<body id="bodyArbolesCensados">
<div id="mainArbolesCensados">

    <main-header></main-header>

    <div class="col-12 text-center">
        <h5 class="text-success main-font pb-2 pt-2">Árboles de [Área geográfica n], [Manzana y]</h5>

        <!-- Add new Item BTN -->
        <div class="row">
            <a class="add-new-item-btn" href="ubicacionX.html">
                    <li class="fas fa-plus"></li>
            </a>
        </div>
        <!--En of Add new Item BTN -->

        <!-- Buttons start here -->
        <div class="list-group">

            <!-- for each tree, draw a button-->
            <a href="domicilioACensar.html" class="list-group-item list-group-item-action flex-column align-items-start mb-2">
                <div class="d-flex w-100 justify-content-center">
                    <h6 class="mb-1 main-font">
                        <i class="fas fa-tree pr-1"></i>Árbol 1: [Especie]</h6>
                </div>
            </a>

            <a href="domicilioACensar.html" class="list-group-item list-group-item-action flex-column align-items-start mb-2">
                <div class="d-flex w-100 justify-content-center">
                    <h6 class="mb-1 main-font"><i class="fas fa-tree pr-1"></i>Árbol 2: [Especie]</h6>
                </div>
            </a>

            <a href="domicilioACensar.html" class="list-group-item list-group-item-action flex-column align-items-start mb-2">
                <div class="d-flex w-100 justify-content-center">
                    <h6 class="mb-1 main-font"><i class="fas fa-tree pr-1"></i>Árbol 3: [Especie]</h6>
                </div>
            </a>



        </div>

        <!-- Navigation buttons -->
        <div class="row ml-1 mr-1">
            <!-- Back -->
            <div class="col-6 text-left mt-4 pl-0">
                <h4>
                <a href="manzanasAsignadas.html" class="align-items-start">
                    <i class="fas fa-arrow-left" style="width: 50%;"></i>
                </a>
                </h4>
            </div>
            <!-- Next Se deshabilita ya que la opción Siguiente se realiza mediante click en un área geográfica
            <div class="col-6 text-right mt-4 pr-0">
                <h4>
                <a href="home.html" class="align-items-start">
                    <i class="fas fa-arrow-right" style="width: 50%;"></i>
                </a>
                </h4>
            </div> -->
        </div>
        <!-- End of nav buttons -->
    </div>

</div>
</body>
</html>