<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript">

        if (localStorage.getItem("access_token") == null) {

            window.location.replace("/");
        }

    </script>
    <!-- Title -->
    <title>Arbolado 2019</title>
    <!-- Main Icon -->
    <link rel="icon" type="text/css" href="../resource/image/main-icon.png">
    <!-- Apple Icon -->
    <link rel="apple-touch-icon" type="text/css" href="../resource/image/main-icon.png">
    <!-- Meta information and responsive scale -->
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, shrink-to-fit=no" />
</head>

<body id="bodyArbolesCensados">

<!-- Loading -->
<div class="se-pre-con"></div>


<div id="mainArbolesCensados">
    <main-header></main-header>

    <div class="col-12 text-center">
        <h5 class="text-success main-font pb-2 pt-2 page-title" id="page-title">Árboles censados </h5>

        <button type="button" @click="window.location.reload()" class="btn btn-success btn-sm mb-2"><i class="fas fa-crosshairs"></i>Actualizar mi ubicación</button>
        <!-- Add new Item BTN -->
      <div tooltip="Agregar nuevo árbol" class="row">
            <a class="add-new-item-btn" href="#" @click="selectedParams()">
                    <li class="fas fa-plus text-light"></li>
            </a>
        </div>
        <!-- div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1">Ver como lista</label>
        </div -->

        <!-- map start here -->
        <div id="mapArbolesCensados" class="my-map"></div>

        <!-- Navigation buttons -->
        <div class="row col-12 ml-1 mr-1" style="margin-top:400px;">
            <!-- Back -->
            <div class="col-6 text-left mt-4 pl-0">
                <h4>
                <a href="#" @click="goBack" class="align-items-start">
                    <i class="fas fa-arrow-left" style="width: 50%;"></i>
                </a>
                </h4>
            </div>


            <!-- Next no needed
            <div class="col-6 text-right mt-4 pr-0">
                <h4>
                <a href="home.html" class="align-items-start">
                    <i class="fas fa-arrow-right" style="width: 50%;"></i>
                </a>
                </h4>
            </div>-->
        </div>
        <!-- End of nav buttons -->
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpKOoFiMIRpJ5r8g0zPiNjCswiJ4BdbFc"></script>
</div>
</body>
</html>