<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript">
        if (localStorage.getItem("session_id") == null) {

            window.location.replace("/");
        }
    </script>
    <!-- Title -->
    <title>Arbolado 2019 | Domicilio a censar</title>
    <!-- Main Icon -->
    <link rel="icon" type="text/css" href="../resource/image/main-icon.png">
    <!-- Apple Icon -->
    <link rel="apple-touch-icon" type="text/css" href="../resource/image/main-icon.png">
    <!-- Meta information and responsive scale -->
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, shrink-to-fit=no" />
</head>




<body id="bodydomicilioACensar">

<div id="maindomicilioACensar">

    <main-header></main-header>

    <div class="col-12 text-center">
        <h5 class="text-success main-font pb-2 pt-2">Complete los datos del domicilio</h5>

        <!-- Form componentes here -->
        <form id="domicilioACensarForm" name="domicilioACensarForm" action="#" method="post">
            <!-- dropDown1 - Calle -->

            <select ref="calleLista" v-model="selectedStreet" class="col-12 form-control text-mini pl-0 ml-0">

                <option disabled value="">Calle...</option>

                <option value="{{ item }}" v-for="item in streetList">
                    {{ item }}
                </option>

                <option value="Otra">Otra</option>
            </select>

            <!-- End of dropDown1 Calle -->



            <!-- input para Otra Calle -->
            <div ref="anotherStreetContainer" class="input-group-sm  mx-auto mt-2">
                <input v-show="selectedStreet==='Otra'" ref="otraCalleInput" name="otraCalleInput" v-model="calleOtra"
                       v-validate.immediate="'required_if:calleLista,Otra'" data-vv-as="Calle - descripción" type="text"
                       :class="{'input': true, 'is-danger': errors.has('otraCalleInput') }" aria-required="true"
                       aria-invalid="false" class="form-control" placeholder="ingresá la calle">
                <span v-show="errors.has('otraCalleInput')" class="text-danger small text-center main-font">{{ errors.first('otraCalleInput') }}</span>

                <input v-model="numero" v-validate="'numeric'" data-vv-as="Número" type="text" aria-required="true"
                       aria-invalid="false" class="form-control mt-2" placeholder="Número..." id="domicilioNumero"
                       name="domicilioNumero">
            </div>


            <div class="input-group-sm  mx-auto mt-2">
                <input v-model="barrio" type="text" aria-required="true" aria-invalid="false" class="form-control" placeholder="Barrio..." id="domicilioBarrio" name="domicilioBarrio">
            </div>


            <!-- dropDown1 - Calle -->
            <select class="col-12 form-control text-mini pl-0 ml-0 mt-2" v-model="domicilioTaza">
                <option disabled value="">Taza...</option>
                <option value="Con árbol">Taza con árbol</option>
                <option value="Taza vacía">Taza vacía</option>
                <option value="Taza con tacón">Taza con tacón</option>
                <option value="Sin Taza">Sin Taza</option>
            </select>

            <!-- End of dropDown1 Calle -->

        </form>

        <!-- Navigation buttons -->
        <div class="row ml-1 mr-1">
            <!-- Back -->
            <div class="col-6 text-left mt-4 pl-0">
                <h4>
                <a href="arbolesCensados.html" class="align-items-start">
                    <i class="fas fa-arrow-left" style="width: 50%;"></i>
                </a>
                </h4>
            </div>

            <div class="col-6 text-right mt-4 pr-0">
                <h4>
                <a href="formulario.html" class="align-items-start">
                    <i class="fas fa-arrow-right" style="width: 50%;"></i>
                </a>
                </h4>
            </div>
        </div>
        <!-- End of nav buttons -->
    </div>

</div>

</body>
</html>